# Node.js
node_modules/
yarn.lock
npm-debug.log*
pnpm-lock.yaml

# Playwright
.playwright/

# Testing
coverage/*
**.screenshots

# Optional Editor Files
*.vscode/
.idea/

# Environment Variables
.env
.env.test

# OS Specific
Thumbs.db
DS_Store
